<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_with(model: resource) do |f| %>

  Grade: <%= f.text_field :grade %><br />
  Phone Number: <%= f.text_field :phone %><br />
  Classification: <%= f.select :classification_id, Classification.order(:classification_name).map { |classification| [classification.classification_name, classification.id] }, include_blank: true, id: "id_of_the_user_id_select_box" %> <br>
  Total Points: <%= current_user.points %>
  <%= f.submit "Update" %>

<% end %>

<% Attendance.where(user_id: current_user.id).each do |attendance| %>
  <tr>
    <td><%= Event.where(id: attendance.event_id).last.event_name %></td>
    <br>    
  </tr>
<% end %>

<%= link_to "Back", root_path %>
