<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Event name</th>
      <th>Event location</th>
      <th>Event time</th>
      <th>Event date</th>
      <th>Event type</th>
      <th>Event points</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.event_location %></td>
        <td><%= event.event_time %></td>
        <td><%= event.event_date %></td>
        <td><%= event.event_type %></td>
        <td><%= event.event_points %></td>
        <td><%= event.active %></td>
        <td><%= button_to 'Confirm Attendance' ,{:controller => 'attendances', :action => 'create', :attendance => {:user_id => current_user.id, :event_id => event.id}}, {:method => :post} %></td>
        <td><%= link_to 'Show', event %></td>
        <% if current_user.classification_id == 2 %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.classification_id == 2 %>
  <%= link_to 'New Event', new_event_path %>
<% end %>

<br>

<%= link_to 'Event Attendance', attendances_path %>

<br>

<%= link_to 'Home', root_path%>
