<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event location:</strong>
  <%= @event.event_location %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @event.event_time %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Event points:</strong>
  <%= @event.event_points %>
</p>

<p>
  <strong>Active:</strong>
  <%= @event.active %>
</p>

<% Attendance.where(event_id: @event.id).each do |attendance| %>
  <tr>
    <td><%= User.where(id: attendance.user_id).last.full_name %></td>
    <br>
    <%= @user = User.find_by(id: attendance.user_id) %>
    <%= button_to "Add points", {:controller => 'users/registrations', :action => 'update', :user => @user, :points => 6}, {:method => :patch} %>
    
  </tr>
<% end %>
<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
