<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<nav class="navbar navbar-expand-sm darkcolor">
  <a class="navbar-brand">
    <img src="/esg_seal2.png" alt="Logo" style="width:50%;height:auto;"/>
  </a>
  <!-- Links -->
  <div class='right'>

<% if current_user.classification_id > 2 %>
    <p class="btn btn-dark"><%= link_to 'Edit', edit_event_path(@event) %></p>
  <% end %>


  <p class="btn btn-dark"><%= link_to 'Events', events_path %></p>


  <p class="btn btn-dark"><%= link_to 'Home', root_path%></p>

</div>
</nav>

<h1 class = 'myHeader'><%= @event.event_name %></h1>
<table class = 'table-striped table-hover tablecenter'>
  <thead class = 'rowbackground'>
    <tr class = 'rowbackground'>
      <th>Event</th>
      <th>Location</th>
      <th>Time</th>
      <th>Date</th>
      <th>Type</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody class = 'table'>
      <tr>
        <td><%= @event.event_name %></td>
        <td><%= @event.event_location %></td>
        <td><%= @event.event_time %></td>
        <td><%= @event.event_date %></td>
        <td><%= @event.event_type %></td>
        <td><%= @event.event_points %></td>
  </tbody>
</table>

<h1 class = 'myHeader'>Attendees</h1>
<table class = 'table-striped table-hover tablecenter'>
  <thead class = 'rowbackground'>
    <tr class = 'rowbackground'>
      <th>User</th>
      <th>Sign Up Time</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody class = 'table'>
    <% Attendance.where(event_id: @event.id).each do |attendance| %>
      <tr>
        <td><%= User.where(id: attendance.user_id).last.full_name %></td>
        <td><%= attendance.created_at %></td>
        <% if current_user.classification_id > 2 %>
          <td><%= button_to "Add points", {:controller => 'users', :action => 'update', :id => User.find_by(id: attendance.user_id).id, params: {:user => {points: User.find_by(id: attendance.user_id).points + @event.event_points}}}, {:method => :patch} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

