<h1>Pages#home</h1>
<% if current_user %>
<h2><%= current_user.email %></h2>
<h2><%= current_user.full_name %></h2>
<h2><%= current_user.points %></h2>
<h2><%= current_user.uin %></h2>
<h2><%= current_user.grade %></h2>
<h2><%= current_user.classification_id %></h2>
<h2><%= current_user.phone %></h2>
<%= link_to 'Show All Event Attendance', attendances_path %> <br>
<%= link_to 'Show All Events', events_path %> <br>
<td><%= link_to 'User Profile', edit_user_registration_path(current_user) %><br></td>

<%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<% end %>
