<html>
    <head>
        <link rel="stylesheet" href="../../assets/stylesheets/style.css">
    </head>

    <body>
        <% if current_user %>

        <div class="top">    
            <p id = 'title'>Eta Sigma Gamma</p>
            <p class = 'btn btn-dark'><%= link_to 'Events', events_path %></p>
            <p class = 'btn btn-dark'><%= link_to 'Users', users_path %> </p>
                    
        </div>
        <div class="top2">
            <p id = 'username'> <%= current_user.full_name %> </p>
            <p id = 'email'> <%= current_user.email %> </p>
        </div>
        <div class = "seal1">
            <%= image_tag "esg_seal.jpg"%>
        </div>
        <div class = "middle2">
            <p class = 'middleinfo'>Total Points: <%= current_user.points %></p><br>
            <% if current_user.classification_id %>
            
            <% end %>
            <p class = 'btn btn-dark'><%= link_to 'Edit Profile', edit_user_registration_path(current_user) %></p>
            <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
        </div>
        
        <% else %>
        <nav class="navbar navbar-expand-sm darkcolor">
            <a class="navbar-brand">
                <img src="/esg_seal2.png" alt="Logo" style="width:50%;height:auto;"/>
            </a>
            <!-- Links -->
            <div class='right'>
            </div>

        </nav>
        <div class = "middle">
            <h1 class='myHeader3'>Welcome!</h1>
           <p class = 'btn btn-dark'> <%= link_to "Login", new_user_session_path %></p>
        </div>
        <% end %>
    </body>
</html>
