<p id="notice"><%= notice %></p>

<h1>Event Attendance</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= User.where(id: attendance.user_id).last.full_name %></td>
        <td><%= Event.where(id: attendance.event_id).last.event_name %></td>
        <td><%= attendance.created_at %></td>
        <% if current_user.classification_id == 2 %>
          <td><%= link_to 'Show', attendance %></td>
          <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
          <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Event index', events_path %>
